<!DOCTYPE html>
 
<html>
<head>
    <meta charset="utf-8" />
    <title>Sign Up</title>
</head>
<body>
    <h1>Sign Up</h1>
    <form method="post" action="/signup">
        <table>
            <tr>
                <td><label>ID : </label></td>
                <td><input type="text" name="id"></td>
            </tr>
            <tr>
                <td><label>PW : </label></td>
                <td><input type="text" name="pw"></td>
            </tr>
 
            <tr>
                <td><input type="submit" value="Submit"></td>
                <td><input type="button" value="Cancel" onclick="location.href='login1'"></td>
            </tr>
 
        </table>
 
    </form>
 
</body>
</html>